
// =============================================
// Header
// =============================================

.header-language-background {
	padding: 0;
}
p.welcome-msg {
	position: absolute;
	font-size: 108%;
	margin: 76px 0 0 165px;
	font-style: italic;
	a {
		display: none;
	}
}
.logo {
	padding: 0;
}
#phone {
	float: right;
	margin: 10px 205px 0 0;
	font-size: 110%;
	letter-spacing: $spacing+1;
	font-family: $titlefont;
	&:before {
		font-family: $iconfont;
		content: "4";
		display: block;
		position: absolute;
		font-size: 25px;
		margin: -7px 0 0 -26px;
	}
}
.account-cart-wrapper {
	font-family: $titlefont;
	.icon {
		background: none !important;
		&:before {
			font-family: $iconfont;
			text-indent: 0;
			display: block;
			position: absolute;
			font-size: 25px;
			margin: -8px 0 0 10px;
			color: $textcolor;
		}
	}
	.skip-account .icon:before {
		content: "0";
	}
	.skip-cart {
		.icon:before {
			content: "1";
		}
		.count {
			font-family: $titlefont;
			color: $textcolor;
		}
		&.no-count .count {
			display: inline-block;
		}
	}
	.label {
		font-size: 110%;
	}
}
// Header Cart
#header-cart {
	&.skip-content {
		opacity: 0;
		position: absolute;
		top: -9999px;
		display: block;
		@include transition(opacity $transpeed $transease);
	}
	&.skip-active {
		border: 0;
		opacity: 1;
		top: 48px;
		@include css3-prefix(box-shadow, 0 0 3px 0 rgba(0,0,0,0.2));
	}
}
.header-minicart {
	.minicart-message {
		text-transform: uppercase;
	}
	.block-subtitle {
		font-family: $mainfont;
		color: $textcolor;
		font-weight: $boldweight;
		padding-top: 10px;
		.close {
			font-family: 'Alegreya Sans SC', $mainfont;
			top: -5px;
			right: -5px;
		}
	}
	.mini-products-list .product-image {
		min-width: 95px;
	}
	.product-details {
		> a {
			font-family: $mainfont;
			font-size: 80%;
		}
		.product-name {
			margin-bottom: 0;
			padding-bottom: 10px;
			a {
				font-family: $titlefont;
				color: $textcolor;
				font-weight: $mediumweight;
			}
		}
	}
	.info-wrapper {
		margin-bottom: 0;
		th, td {
			font-family: $mainfont;
			font-size: 80%;
			text-transform: none;
			color: $textcolor;
		}
		.qty {
			padding: 0;
			width: 2.2em;
			text-align: center;
			height: 22px;
			font-size: 100%;
		}
		.quantity-button {
			background: lighten($background, 40%);
			font-size: 90%;
			padding: 2px 8px;
			height: 22px;
			margin: -2px 0 0;
			display: inline-block;
			border-radius: 2px;
			&:hover {
				background: lighten($background, 20%);
			}
		}
	}
	.subtotal {
		background: transparent;
		border: 1px solid lighten($bordercolor, 90%);
		border-left: 0;
		border-right: 0;
		font-size: 100%;
		padding: 0;
		.label, .price {
			color: $textcolor;
			font-size: 100%;
		}
	}
	.minicart-actions {
		.checkout-button {
			background: lighten($background, 20%);
			color: $buttontextcolor;
			&:hover {
				background: $background;
			}
		}
		.cart-link {
			line-height: 20px;
			font-size: 100%;
		}
	}
	.truncated {
		a.details {
			font-family: $mainfont;
			font-size: 85%;
		}
		.truncated_full_value .item-options {
		border-color: $bordercolor;
		font-family: $mainfont;
		font-size: 85%;
			&:after {
				border-bottom: 7px solid $bordercolor;
			}
		}
	}
}
// Search
#search_mini_form {
	input#search {
		font-family: $mainfont;
		font-size: 80%;
		letter-spacing: $spacing+1;
		border-color: $bordercolor;
		font-weight: $mediumweight;
		color: $textcolor;
		line-height: 15px;
		&:focus {
			outline: none;
		}
	}
	.search-button:before, button.button:before {
		font-family: $iconfont;
		content: "2";
		text-indent: 0;
		display: block;
		position: absolute;
		font-size: 25px;
		margin: -9px 0 0 -15px;
		background: none;
		color: $textcolor;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
	}
	.search-autocomplete {
		ul {
			border: 1px solid $bordercolor;
			li {
				color: $textcolor;
				font-family: $mainfont;
				&.selected {
					background-color: lighten($background, 96%);
				}
			}
		}
		&:before {
			border-bottom-color: $bordercolor;
		}
	}
	button.button {
		text-indent: -9999px;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		border: 0;
		background: none;
	}
}
// Account
#header-account {
	a {
		font-family: $titlefont;
		color: $textcolor;
		text-transform: uppercase;
		&:hover {
			color: lighten($textcolor, 50%);
		}
	}
	&.skip-content {
		opacity: 0;
		display: block;
		position: absolute;
		top: -200px;
		@include transition(opacity $transpeed $transease);
	}
	&.skip-active {
		opacity: 1;
		top: 48px;
		right: 45px;
		border: 0;
		background: $backgroundinvert;
		@include css3-prefix(box-shadow, 0 0 3px 0 rgba(0,0,0,0.2));
	}
}
