
// =============================================
// Header
// =============================================

.topbar {
	height: 44px;
	background: $lightblue;
	overflow: hidden;
	padding: 12px 20px 0;
	position: relative;
    z-index: 2;
    .main-container {
		padding: 0;
	}
}
.header-language-background {
	padding: 0;
}
p.welcome-msg {
	position: absolute;
	font-size: 108%;
	margin: 76px 0 0 165px;
	font-style: italic;
	a {
		display: none;
	}
}
.logo {
	padding: 0;
	float: none;
	margin: 15px auto 0;
	width: 220px;
	min-height: 66px;
	background: url(../images/logo_black.png) 50% 0 no-repeat;
	background-size: 220px;
	img {
		opacity: 0;
	}
}
.white-header {
	.logo {
		img {
			opacity: 1;
		}
	}
}
#header-cart {
	display: none !important;
}
#phone {
	float: right;
	margin: 10px 205px 0 0;
	font-size: 110%;
	letter-spacing: $spacing+1;
	font-family: $titlefont;
	&:before {
		font-family: $iconfont;
		content: "4";
		display: block;
		position: absolute;
		font-size: 25px;
		margin: -7px 0 0 -26px;
	}
}
.account-cart-wrapper {
	font-family: $titlefont;
	.icon {
		background: none !important;
		&:before {
			font-family: $iconfont;
			text-indent: 0;
			display: block;
			position: absolute;
			font-size: 25px;
			margin: -8px 0 0 10px;
			color: $textcolor;
		}
	}
	.skip-account .icon:before {
		content: "0";
	}
	.skip-cart {
		.icon:before {
			content: "1";
		}
		.count {
			font-family: $titlefont;
			color: $textcolor;
		}
		&.no-count .count {
			display: inline-block;
		}
	}
	.label {
		font-size: 110%;
	}
}
// Top bar cart
.headercart {
	float: right;
	color: $darkblue;
	span {
		float: left;
		font-family: $titlefont;
		text-transform: uppercase;
		padding-right: 5px;
	}
	a.bag-icon {
		margin: -5px 0 0;
		float: right;
	}
}
// Currency selector
.currency-selector {
	font-size: 110%;
	font-family: $titlefont;
	text-transform: uppercase;
	width: 25%;
	float: left;
	strong {
		display: block;
		float: left;
		color: $darkblue;
	}
	span.current-currency {
		display: block;
		color: #FFF;
		float: left;
		border: 1px solid $darkblue;
		margin: -2px -1px 0 12px;
		padding: 4px 10px 1px;
		font-size: 90%;
		background: rgba(1, 20, 157, 0.48);
	}
	ul {
		margin-top: -2px;
		li {
			display: inline-block;
			border: 1px solid $darkblue;
			margin: 0 -6px 0 0;
			padding: 4px 10px 1px;
			font-size: 90%;
			border-left: 0;
			a:first-child {
				text-align: right;
				color: lighten($textcolor, 50%);
				font-weight: $lightweight;
				text-transform: uppercase;
			}
		}
	}
}
// Search
#header-search {
	display: none;
	#search_mini_form {
		input#search {
			font-family: $mainfont;
			font-size: 80%;
			letter-spacing: $spacing+1;
			border-color: $bordercolor;
			font-weight: $mediumweight;
			color: $textcolor;
			line-height: 15px;
			&:focus {
				outline: none;
			}
		}
		.search-button:before, button.button:before {
			font-family: $iconfont;
			content: "2";
			text-indent: 0;
			display: block;
			position: absolute;
			font-size: 25px;
			margin: -9px 0 0 -15px;
			background: none;
			color: $textcolor;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
		}
		.search-autocomplete {
			ul {
				border: 1px solid $bordercolor;
				li {
					color: $textcolor;
					font-family: $mainfont;
					&.selected {
						background-color: lighten($background, 96%);
					}
				}
			}
			&:before {
				border-bottom-color: $bordercolor;
			}
		}
		button.button {
			text-indent: -9999px;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			border: 0;
			background: none;
		}
	}
}
// Account
#header-account {
	a {
		font-family: $titlefont;
		color: $textcolor;
		text-transform: uppercase;
		&:hover {
			color: lighten($textcolor, 50%);
		}
	}
	&.skip-content {
		opacity: 0;
		display: block;
		position: absolute;
		top: -200px;
		@include transition(opacity $transpeed $transease);
	}
	&.skip-active {
		opacity: 1;
		top: 48px;
		right: 45px;
		border: 0;
		background: $backgroundinvert;
		@include css3-prefix(box-shadow, 0 0 3px 0 rgba(0,0,0,0.2));
	}
}
// Breadcrumbs
.breadcrumbs {
	margin: -15px 0 10px;
	text-align: center;
	ul {
		display: inline-block;
		margin: 0 auto;
	}
}

