
// =============================================
// Layered Nav
// =============================================

.block-layered-nav {
	color: $textcolor;
	.block-title {
		display: none;
	}
	.narrow-by-list li {
		margin: 10px 0;
	}
	.m-filter-slider, .m-slider-values {
		width: 75%;
	}
	.actions a {
		font-family: $mainfont;
		font-size: 80%;
		font-weight: $mediumweight;
		letter-spacing: $spacing+1;
		text-decoration: underline;
		margin: -40px 0 0 15px;
	}
	.currently {
		padding: 15px 15px 25px;
		background: lighten( $background, 97% );
		letter-spacing: $spacing+1;
		.block-subtitle {
			padding: 0;
			font-family: $titlefont;
			font-weight: $mediumweight+100;
			color: $textcolor;
		}
		ol {
			padding: 0;
			font-family: $mainfont;
			font-weight: $mediumweight;
			font-size: 80%;
			li .label {
				font-weight: $mediumweight+100;
			}
		}
		.btn-remove {
			border-color: lighten( $bordercolor, 80% );
			@include transition(all $transpeed $transease);
		}
		.btn-remove:hover {
			background: $background;
			border-color: $bordercolor;
		}
		.btn-remove:after {
			content: "×";
			font-size: 18px;
			font-weight: $lightweight;
			color: lighten( $textcolor, 30% );
			display: block;
			text-align: center;
			margin-left: 1px;
			@include transition(all $transpeed $transease);
		}
		.btn-remove:hover:after {
			color: #FFF;
		}
	}
	.block-content > dl > {
		dt, dt:hover, dd, .filter-title {
			font-family: $titlefont;
			font-weight: $lightweight;
			color: $textcolor;
			background: transparent;
			border: 0;
			padding: 5px 0;
			letter-spacing: $spacing+1;
			margin-bottom: 10px;
			ol > li > {
				span, a, a span.price {
					padding: 5px 0 5px 25px !important;
					font-family: $mainfont;
					font-size: 80%;
					font-weight: $mediumweight;
					letter-spacing: $spacing+2;
				}
				a .count {
					display: none;
				}
				a span.price {
					padding: 0 !important;
					font-size: 100%;
				}
				a.amshopby-price.amshopby-attr {
					padding-left: 25px !important;
				}
				&.amshopby-cat a {
					padding-left: 0 !important;
				}
			}
		}
		.filter-title {
			border-bottom: 1px solid $bordercolor;
			margin: 15px 0;
			width: 75%;
			text-transform: uppercase;
		}
	}
}
@media only screen and (max-width: 770px) {
	dl#narrow-by-list, dl#narrow-by-list2 {
		padding: 15px !important;
	}
	.sidebar .block-layered-nav .block-content>dl>dd ol>li>a {
		padding: 10px 20px !important;
		background-position: 5px center;
	}
}